<html>

<center>

<h3 style="color: blue;">Authentication</h3>
    <form  action="/login" method="post">

        <label>Login</label> <br>
        <input style="border: 2; border-style: groove; border-color: blue;" type="text" name="login"/><br>
        <label>password</label><br>
        <input style="border: 2; border-style: groove; border-color: blue;" type="password" name="password"/>
        <br><br>
        <input style="color: green" type="submit" value="Authenticate"/>

    </form>
    <p style="color: red;">{{error_auth}}</p>


</center>

</html>